body {
  background-image: url("images/trees.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #3E2723;
  font-family: 'News Cycle', sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: lighter;
  font-family: 'Amatic SC', sans-serif;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 600px;
  padding: 20px;
  margin: 10px auto 10px auto;
  text-shadow: 2px 2px 5px gray;
}

li {
  display: inline-flex;
  padding: 20px;
}

ul {
  padding: 10px;
}

.link {
  /*font-size: 1em;*/
  color: #196F3D

;
  font-weight: lighter;
}

.link:hover {
  text-decoration: none;
  color: #530B8F;
  /*font-size: 1em;*/
  font-weight: lighter;
}

a:link {
  text-decoration: none;
  color: #196F3D

;
  /*font-size: 1.5em;*/
  font-weight: lighter;
}


.blurb-text {
  font-size: 1.5em;
  /*color: #3E2723;*/
  font-weight: lighter;
  /*background-color: rgba(180, 180, 180, 0.75);*/
  width: 800px;
  padding: 20px;
  margin: 20px auto 20px auto;
}

.tagline-text {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  /*color: #3E2723;*/
  font-weight: lighter;
  width: 800px;
  padding: 20px;
  margin: 20px auto 20px auto;
}
