body {
  background-image: url("images/snowclouds.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: lighter;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 600px;
  padding: 20px;
  margin: 10px auto 10px auto;
  text-shadow: 2px 2px 5px gray;
}

li {
  display: inline-flex;
  padding: 20px;
}

ul {
  padding: 10px;
}

#text-link {
  font-size: 1em;
  color: black;
  font-weight: lighter;
}

#text-link:hover {
  text-decoration: none;
  color: #2A6375;
  font-size: 1em;
  font-weight: lighter;
}

a:link {
  text-decoration: none;
  color: #595C59;
  font-size: 1.5em;
  font-weight: lighter;
}

a:visited {
  text-decoration: none;
  color: #595C59;
  font-size: 1.5em;
  font-weight: lighter;
}

a:hover {
  text-decoration: none;
  color: #088752;
  font-size: 1.5em;
  font-weight: lighter;
}

#tagline {
  font-size: 1.5em;
  color: black;
  font-weight: lighter;
  /*background-color: rgba(180, 180, 180, 0.75);*/
  width: 800px;
  padding: 20px;
  margin: 20px auto 20px auto;
}
